body{
	margin: 0px; padding: 0px; font-family: "微软雅黑"; font-size:14px ;
}
ul,ol{
	list-style: none;  padding: 0px;margin:0px ;
}
/*顶部导航栏*/
.cheng{
border: 2px solid #FF571A; 	
}
.nav_bg{
	background: white; border-bottom: 1px solid #DCDCDC;
}
.nav{
	width: 1184px;height: 72px; margin: 0 auto;
}
ul li{float: left; }
ul li.img{
	background:url(../img/logo.png) no-repeat ; width: 82px;height:36px ; float: left;cursor:pointer;
	margin-top:15px ;
}
ul li.xiala{
	width: 67px; height: 30px;border: 1px solid #EDEDED; float: left;border-radius: 3px;padding-left:23px ;
	line-height: 30px; margin-left: 16px; margin-top: 19px;cursor:pointer;
}
ul li.wenzi1{
	margin-left:48px; margin-top: 26px;cursor:pointer;
}
ul li.wenzi1:hover{
	color:#FF571A ;
}
ul li.wenzi{
	margin-left:34px; margin-top: 26px;cursor:pointer;
}
ul li.wenzi:hover{
	color:#FF571A ;
}
ul li.wenzi2{
	margin-left:34px; margin-top: 26px;color:#FF571A ;cursor:pointer;
}
ul li.wenzi3{
	margin-left:34px; margin-top: 26px;
}
ul li.input input{
	margin-left: 36px; margin-top: 18px;width: 212px;height: 27px;outline:none ;
	border: 2px solid #E6E6E6;padding-left: 8px; color: #A9A9A9;
}
ul li.input input:focus{
	border: 2px solid #CCCCCC;
}
ul li.wenzi4{
	margin-left:64px; margin-top: 26px;cursor: pointer;
}
ul li.wenzi4:hover{
	color:#FF571A ;
}
ul li.wenzi5{
	margin-left:15px; margin-top: 26px;cursor: pointer;
}
ul li.wenzi5:hover{
	color:#FF571A ;
}
ul li.vertical{
	margin-left:21px; margin-top: 26px;height:22px;color: #EEEEEE;border-right: 1px solid #EEEEEE;
}
ul li.img1{
	width:119px; height:24px;float: right;margin-top: 26px;
}
.clear{clear: both;}
/*第二部分*/
/*second_left部分*/
.second_bg{
	background:white ;
}
.second{
	width:1280px ; height: 2200px;margin: 0 auto;
}
.second_left{
	width: 243px;height: 1099px;margin-top:21px ;float: left;
}
.left1{
	width: 223px;height: 41px;border: 1px solid #DDDDDD;line-height: 41px;background-color: #F5F5F5;
	padding-left: 19px;color: #FF571A;
}
.left2{
	width: 243px;height: 1035px;border: 1px solid #EDEDED;margin-top: 21px;
}
.left2_1{
	width: 243px;height: 203px;
}
.left2_1 span.much{
	margin-left:15px;color:#666666 ;
}
.left2_1 span.much1{
	margin-left: 140px;cursor: pointer;color:#666666;
}
.left2_1 span.much2{
	font-size: 12px;cursor: pointer;color:#666666;
}
.left2_1 ul li.brand1{
	margin-top:10px ; 
}
.left2_1 ul li.brand1 a{
	margin-left: 15px; font-size:12px; color: #666666;line-height: 27px;
	cursor: pointer;
}
.left2_1 ul li.brand1 a:hover{
	color: #FF714B;
}
.left2_1 ul li.brand1 a.baoma{
	margin-left: 30px;
}
.left2_1 ul li.brand2{
	border-bottom:1px solid #E0E0E0 ; width:215px ;margin-left:12px ; margin-top:34px;	
}
.left2_2{
	width: 243px;height: 106px;
}
.left2_2 .price{
	width:243px ;height: 20px;margin-top:14px ;
}
.left2_2 .price span.wan{
	margin-left:15px ;
}
.left2_2 .price span.wan1{
	margin-left:55px ;font-size: 12px;color: #666666;
}
.left2_2 .price1{
	width: 243px;height: 25px;  margin-top: 23px;
}
.left2_2 .price1 ul li.infinite2{
	margin-left: 15px;width: 22px;height: 8px;background:#D9D9D9 ;
	cursor:pointer ;
}
.left2_2 .price1 ul li.infinite2:hover{
	background: #FF714B;
}
.left2_2 .price1 ul li.infinite1{
	width: 22px;height: 8px; margin-left:3px ;background:#D9D9D9 ;
	cursor:pointer ;
}
.left2_2 .price1 ul li.infinite1:hover{
	background: #FF714B;
}
.left2_2 .price1 ul li{
	font-size: 12px;color:#8C8C8C ; line-height: 30px;
	}
.left2_2 .price1 ul li.infinite3{
	border-bottom:1px solid #E0E0E0 ; width:215px ;margin-left:12px ; margin-top:23px;	
}
.left2_3{
	width: 240px;height:195px ;
}
.left2_3 ul li.motorcycle{
	margin-left: 15px;width:240px ;
}
.left2_3 ul li.motorcycle1{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 10px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle2{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 10px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle3{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 48px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 10px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle4{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 48px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle5{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:27px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle6{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 48px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:28px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle7{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle8{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:33px ;cursor:pointer ;
}
.left2_3 ul li.motorcycle9{
	background:url(../img/car_modal_sprite_01.png) no-repeat;width: 39px;height: 24px;padding-top:23px ;
	color: #666666;font-size:12px ;margin-top: 5px;margin-left:33px;cursor:pointer ;
}
.card{
	width:240px ;height:70px ;
}
.card ul li.time{
	width: 240px; margin-left:15px;
}
.card ul li.time1{
	width:82px ;height: 31px;border: 1px solid #E5E5E5;margin-left: 15px;font-size: 12px;
	color:#AAAAAA ;line-height: 31px;padding-left: 10px;margin-top: 13px;cursor:pointer ;
}
.card ul li.time3{
	width:82px ;height: 31px;border: 1px solid #E5E5E5;font-size: 12px;color:#AAAAAA ;
	 line-height: 31px;padding-left: 10px;margin-top: 10px;cursor:pointer ;
}
.card ul li.time2{
	margin:20px 10px;color:#AAAAAA ;
}
.course{
	width: 240px;height:70px;
}
.course ul li.course1{
	margin-left: 15px;width:240px ;margin-top:10px ;
}
.course ul li.course2{
	width: 199px;height:31px ;border:1px solid #E5E5E5;margin-left:15px ;margin-top:10px ;
	font-size: 12px;color:#AAAAAA ;padding-left: 10px;line-height:31px ;cursor:pointer ;
}
/*second_right部分*/
.sell{
	width: 1020px;height: 83px;border: 1px solid #E6E6E6;float: right;margin-top: 20px;
}
.sell1{
	width:1020px ;height: 40px;border-bottom: 1px solid #E6E6E6;
}
.sell1 ul li.chu{
	width: 45px;height: 40px;border-bottom: 1px solid white;
	line-height:40px ;color:#FF571A;padding-left:12px ;
}
.sell1 ul li.chu2{
	width: 55px;height: 40px;border-bottom: 1px solid white;border-right: 1px solid #E6E6E6;
	line-height:40px ;cursor:pointer ;
}
.sell1 ul li.chu1{
	width: 92px;height: 40px;border-right: 1px solid #E6E6E6;
	line-height:40px ;padding-left: 15px;background: #F5F5F5;cursor:pointer ;
}




.Chevrolet{
	width:240px ;height: 319px;border: 1px solid #E6E6E6;margin-top:60px ;float: left;
	margin-right:17px ;
}
.Chevrolet ul li.img2{
	width: 240px;height: 158px;cursor:pointer ;
}
.Chevrolet ul li.cx {
	margin-left:17px ; margin-top:15px ;cursor:pointer ;
}
.Chevrolet ul li.cx:hover{
	color: #FF714B;
}
.Chevrolet ul li.money{
	margin-left:17px ; margin-top:5px ;font-size:16px;font-weight: bold;color:#FF571A ;
}
.Chevrolet ul li.gl{
	margin-left:17px ; margin-top:5px;font-size:12px;color:#999999 ;
}
.Chevrolet ul li.line{
	width: 213px;border-bottom: 1px solid #E6E6E6;margin-left:15px ;margin-top:26px ;
}
.Chevrolet ul li.img3{
	width:55px ;height:15px;margin-left:17px ; margin-top:10px ;
}


.Chevrolet1{
	width:240px ;height: 319px;border: 1px solid #E6E6E6;margin-top:60px ;float: right;
}
.Chevrolet1 ul li.img2{
	width: 240px;height: 158px;cursor:pointer ;
}
.Chevrolet1 ul li.cx {
	margin-left:17px ; margin-top:15px ;cursor:pointer ;
}
.Chevrolet1 ul li.cx:hover{
	color: #FF714B;
}
.Chevrolet1 ul li.money{
	margin-left:17px ; margin-top:5px ;font-size:16px;font-weight: bold;color:#FF571A ;
}
.Chevrolet1 ul li.gl{
	margin-left:17px ; margin-top:5px;font-size:12px;color:#999999 ;
}
.Chevrolet1 ul li.line{
	width: 213px;border-bottom: 1px solid #E6E6E6;margin-left:15px ;margin-top:26px ;
}
.Chevrolet1 ul li.img3{
	width:55px ;height:15px;margin-left:17px ; margin-top:10px;
}

.Chevrolet2{
	width:240px ;height: 319px;border: 1px solid #E6E6E6;margin-top:20px ;float: left;
	margin-right:17px;
}
.Chevrolet2 ul li.img2{
	width: 240px;height: 158px;cursor:pointer ;
}
.Chevrolet2 ul li.cx {
	margin-left:17px ; margin-top:15px ;cursor:pointer ;
}
.Chevrolet2 ul li.cx:hover{
	color: #FF714B;
}
.Chevrolet2 ul li.money{
	margin-left:17px ; margin-top:5px ;font-size:16px;font-weight: bold;color:#FF571A ;
}
.Chevrolet2 ul li.gl{
	margin-left:17px ; margin-top:5px;font-size:12px;color:#999999 ;
}
.Chevrolet2 ul li.line{
	width: 213px;border-bottom: 1px solid #E6E6E6;margin-left:15px ;margin-top:26px ;
}
.Chevrolet2 ul li.img3{
	width:55px ;height:15px;margin-left:17px ; margin-top:10px;
}

.Chevrolet3{
	width:240px ;height: 319px;border: 1px solid #E6E6E6;margin-top:20px ;float: right;
}
.Chevrolet3 ul li.img2{
	width: 240px;height: 158px;cursor:pointer ;
}
.Chevrolet3 ul li.cx {
	margin-left:17px ; margin-top:15px ;cursor:pointer ;
}
.Chevrolet3 ul li.cx:hover{
	color: #FF714B;
}
.Chevrolet3 ul li.money{
	margin-left:17px ; margin-top:5px ;font-size:16px;font-weight: bold;color:#FF571A ;
}
.Chevrolet3 ul li.gl{
	margin-left:17px ; margin-top:5px;font-size:12px;color:#999999 ;
}
.Chevrolet3 ul li.line{
	width: 213px;border-bottom: 1px solid #E6E6E6;margin-left:15px ;margin-top:26px ;
}
.Chevrolet3 ul li.img3{
	width:55px ;height:15px;margin-left:17px ; margin-top:10px;
}
.clear{clear: both;}
/*第三部分*/
.third_bg{
	background: white;
}
.third{
	width:480px;height: 50px; margin:0 auto;
}
.third ul li{
	width:40px ;height: 40px;border:1px solid #D9D9D9;margin-left: 6px;line-height: 40px;text-align: center;cursor: pointer;
}
.third ul li.fist{
	color: white;background:#FF5517 ;
}
.third ul li.f1:hover{
	background: #FF5517;color: white;
}
/*第四部分-底部*/
.foot_bg{
	background:#1F1F1F ;
}
.foot{
	width:1173px;height: 337px;margin: 0 auto;margin-top:145px;
}
.foot .foot1 ul.dg{
	width:75px ;height: 109px;color:white ; margin-top: 30px;float: left;
}
.foot .foot1 ul li{
	margin-bottom: 13px;font-size: 16px;font-weight: bold;
}
.foot .foot1 ul li a{
	font-size: 12px;font-weight: normal;color: #717171;line-height: 25px;
}

.foot .foot1 ul.gc{
	width:137px ;height: 109px;color:white ; margin-top: 30px;float: left;margin-left: 124px;
}
.foot .foot1 ul li{
	margin-bottom: 13px;font-size: 16px;font-weight: bold;
}
.foot .foot1 ul li a{
	font-size: 12px;font-weight: normal;color: #717171;line-height: 25px;
}

.foot .foot1 ul.about{
	width:75px ;height: 109px;color:white ; margin-top: 30px;float: left;margin-left:56px;
}
.foot .foot1 ul li{
	margin-bottom: 13px;font-size: 16px;font-weight: bold;
}
.foot .foot1 ul li a{
	font-size: 12px;font-weight: normal;color: #717171;line-height: 25px;
}

.foot .foot1 ul.lx{
	width:75px ;height: 109px;color:white ; margin-top: 30px;float: left;margin-left:113px;
}
.foot .foot1 ul li{
	margin-bottom: 13px;font-size: 16px;font-weight: bold;
}
.foot .foot1 ul li a{
	font-size: 12px;font-weight: normal;color: #717171;line-height: 25px;
}
.foot .foot1 ul li a:hover{
	text-decoration: underline;cursor:pointer ;
}
.foot .foot1 ul.code{
	width:145px ;height: 109px;color:white ; margin-top: 30px;float: left;margin-left:144px;
}
.foot .foot1 ul li.img4{
	margin-bottom: 7px;margin-left:37px ;
}
.foot .foot1 ul li.sy{
	font-size: 12px;font-weight: normal;color: #717171;line-height: 25px;
}
.foot .foot2 ul li.hot{
	color: #717171;margin-top:62px;font-size: 12px;
}
.foot .foot2 ul li.hot a{
	margin-left: 10px;line-height:25px ;
}
.foot .foot2 ul li.hot a:hover{
	color:#FF571A ;cursor: pointer;
}
.foot .foot2 ul li.Copyright{
	color: #717171;margin-top:27px;font-size: 12px;
}
